.hero{
  height: 616px;
	display: grid;
	justify-items: center;
	background: linear-gradient(175deg, #5912ac, #7e49c3, #c86dd7),
		url('../../../images/Image.png');
	object-fit: cover;
	background-blend-mode: overlay;
	background-size: cover;
	place-self: center stretch; 

	.hero-content {
		display: grid;
		width: 1184px;
		grid-template-columns: 1fr 1fr;
		color: var(--color-white);
	}
	.hero-text {
		margin-top: 200px;
	}
	.img-hero {
		width: 316px;
		height: 290px;
		margin-right: 100px;
		margin-top: 170px;
		justify-self: end;
	}

	@media screen and (max-width: 1000px) {
		height: 540px;
		background-position: left 756px bottom 0px;

		.hero-content {
			display: grid;
			width: 328px;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			color: #ffffff;
			margin-top: 0px;
		}
		.hero-text {
			margin-top: 152px;
		}
		.img-hero {
			display: none;
		}
	}
}

.variant-a{
  .play-button {
		display: flex;
		align-self: center;
		justify-content: flex-start;
		color: var(--color-white);
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
	}
	.play-button img {
		width: 48px;
		height: 48px;
	}
	.play-button span {
		margin-left: 16px;
		align-self: center;
	}
	h1 {
		margin-bottom: 24px;
	}
	h2 {
		margin-bottom: 40px;
		font-size: 18px;
		line-height: 24px;
	}

	@media screen and (max-width: 1000px) {
		display: grid;
		justify-items: center;

		h1 {
			margin-bottom: 16px;
			font-size: 28px;
			font-weight: 500;
			line-height: 32px;
			letter-spacing: 0;
			text-align: center;
			width: 272px;
		}
		h2 {
			font-size: 16px;
			font-weight: 400;
			line-height: 28px;
			text-align: center;
			width: 288px;
			margin-bottom: 66px;
		}
	}
}