.diary{
  height: 508px;
	background: var(--color-background);
	display: grid;
	grid-template-rows: 2px 1fr;
	justify-items: center;

	.diary-content {
		text-align: center;
		margin-top: 96px;
	}

	img {
		width: 216px;
		height: 96px;
	}

	h2 {
		margin-top: 40px;
	}

	.diary-text {
		width: 784px;
		margin-top: 40px;
	}

	@media screen and (max-width: 1000px) {
		height: 524px;

		.diary-content {
			margin-top: 64px;
			width: 360px;
		}

		h2 {
			font-size: 22px;
			margin-top: 24px;
		}
		
		.diary-text {
			width: 328px;
			margin-top: 16px;
			margin-left: 16px;
			margin-right: 16px;
		}
	}
}