.payment{
  display: grid;
	justify-items: center;
	height: 528px;
	background: var(--color-background);

	.payment-content {
		margin-top: 104px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 44px;
		width: 984px;
	}
	.payment-text {
		width: 450px;
	}
	.payment-text h2 {
		margin-bottom: 40px;
	}
	.payment-text p {
		margin-bottom: 40px;
	}
	.payment-img {
		width: 456px;
		height: 336px;
		justify-self: end;
	}
	.read-link span {
		color: var(--color-primary);
		text-decoration: underline;
		text-decoration-color: var(--color-primary);
	}
	.divider {
		width: 784px;
		border-top: solid 2px var(--color-gray);
		align-self: end;
	}

	@media screen and (max-width: 1000px) {
		height: 746px;

		h2 {
			font-size: 22px;
		}

		.payment-content {
			margin-top: 0px;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			gap: 0;
			width: 360px;
			text-align: center;
		}
		.payment-text {
			width: 328px;
			margin-top: 16px;
			margin-top: 0px;
			margin-bottom: 24px;
		}
		.payment-text h2 {
			font-size: 22px;
			width: 245px;
			margin-left: 60px;
			margin-right: 60px;
		}
		.payment-text p {
			width: 328px;
			margin-left: 16px;
			margin-right: 16px;
			margin-bottom: 40px;
		}
		.payment-img {
			width: 312px;
			height: 230px;
			margin-top: 64px;
			margin-bottom: 40px;

			justify-self: center;
		}
		.divider {
			width: 328px;
		}
		.read-link span {
			width: 328px;
			margin-left: 16px;
			margin-right: 16px;
			margin-bottom: 64px;
		}
		.read-link  {
			margin-bottom: 64px;
		}
	}
}