.billing{
  height: 496px;
	background: var(--color-background);
	display: grid;
	justify-items: center;

	img {
		width: 984px;
		height: 392px;
	}
	
	@media screen and (max-width: 1000px) {
		display:none;
	}
}